body{
  min-width: 600px;
  width: 96%;
  margin: 0 auto;
}
.main{
  @include clearfix();
  // min-width: 600px;
  // width: 96%;
  margin: 0 auto;
  font-family: 'robotoregular', sans-serif;
  position: relative;
}
.left{
  float: left;
  width: 75.256222%;//1028
}
.right{
  float: right;
  width: 24.743777%;//338

}
