.archive
  .archive-date
    h2.archive-date__title.archive__title Дата
    ul.archive__list
      li.archive-date__item
        a(href="#").archive-date__link.archive-date__link--active 19.05.2016
      li.archive-date__item
        a(href="#").archive-date__link 20.05.2016
  .archive-hall
    h2.archive-hall__title.archive__title Зал
    ul.archive__list
      li.archive-hall__item
        a(href="#").archive-hall__link 1 Snowdrop
      li.archive-hall__item
        a(href="#").archive-hall__link 2 Camelita
      li.archive-hall__item
        a(href="#").archive-hall__link.archive-hall__link--active 3 Acacia
  .archive-note
    h2.archive-note__title.archive__title Записи
    ul.archive__list
        li.archive-note__item
          .archive-note__time
            p.archive-note__time--begin-time 17:30
            p.archive-note__time--end-time 18:30
          a(href="#").archive-note__link Доклад с очень длинным названием
        li.archive-note__item
          .archive-note__time
            p.archive-note__time--begin-time 17:30
            p.archive-note__time--end-time 18:30
          a(href="#").archive-note__link Доклад с очень длинным названием
        li.archive-note__item
          .archive-note__time
            p.archive-note__time--begin-time 17:30
            p.archive-note__time--end-time 18:30
          a(href="#").archive-note__link Доклад с очень длинным названием
        li.archive-note__item
          .archive-note__time
            p.archive-note__time--begin-time 17:30
            p.archive-note__time--end-time 18:30
          a(href="#").archive-note__link Доклад с очень длинным названием
        li.archive-note__item
          .archive-note__time
            p.archive-note__time--begin-time 17:30
            p.archive-note__time--end-time 18:30
          a(href="#").archive-note__link.archive-note__link--active Доклад с очень длинным названием
        li.archive-note__item
          .archive-note__time
            p.archive-note__time--begin-time 17:30
            p.archive-note__time--end-time 18:30
          a(href="#").archive-note__link Доклад с очень длинным названием
        li.archive-note__item
          .archive-note__time
            p.archive-note__time--begin-time 17:30
            p.archive-note__time--end-time 18:30
          a(href="#").archive-note__link Доклад с очень длинным названием
        li.archive-note__item
          .archive-note__time
            p.archive-note__time--begin-time 17:30
            p.archive-note__time--end-time 18:30
          a(href="#").archive-note__link Доклад с очень длинным названием
        li.archive-note__item
          .archive-note__time
            p.archive-note__time--begin-time 17:30
            p.archive-note__time--end-time 18:30
          a(href="#").archive-note__link Доклад с очень длинным названием
  .archive-info
    h2.archive-info__title.archive__title Информация о докладе
    .archive-info__img
      img(src="../images/info.png", alt="")
    .archive-info__presenter Александров Сергей Сергеевич
    h3.archive-info__title-themes Почему неоднозначна глобализация?
    p.archive-info__descr Как уже отмечалось, правовое государство символизирует механизм власти. Безусловно, тоталитарный тип политической культуры предсказуем. Принимая во внимание позицию Ф.Фукуямы, доиндустриальный тип политической культуры категорически сохраняет онтологический субъект власти, что было отмечено П.Лазарсфельдом.
