.hall
  ul.hall__list
    li.hall__item
      a(href="#").hall__link
        h2.hall__number Зал 1
        h3.hall__title Snowdrop
        p.hall__pause Перерыв до 15:40
        p.hall__descr Почему наблюдаема разновидность тоталитаризма?
    li.hall__item
      a(href="#").hall__link
        h2.hall__number Зал 2
        h3.hall__title Snowdrop
        p.hall__pause Перерыв до 15:40
        p.hall__descr субъект политического
    li.hall__item
      a(href="#").hall__link
        h2.hall__number Зал 3
        h3.hall__title Snowdrop
        p.hall__pause Перерыв до 15:40
        p.hall__descr Антропологический субъект политического процесса: основные моменты
    li.hall__item.hall__item--active
      a(href="#").hall__link
        h2.hall__number Зал 4
        h3.hall__title Snowdrop
        p.hall__pause Перерыв до 15:40
        p.hall__descr Почему наблюдаема разновидность тоталитаризма?
    li.hall__item
      a(href="#").hall__link
        h2.hall__number Зал 5
        h3.hall__title Snowdrop
        p.hall__pause Перерыв до 15:40
        p.hall__descr Антропологический субъект политического процесса: основные моменты
    li.hall__item.hall__item--active
      a(href="#").hall__link
        h2.hall__number Зал 6
        h3.hall__title Snowdrop
        p.hall__pause Перерыв до 15:40
        p.hall__descr Почему наблюдаема разновидность тоталитаризма?
    li.hall__item
      a(href="#").hall__link
        h2.hall__number Зал 7
        h3.hall__title Snowdrop
        p.hall__pause Перерыв до 15:40
        p.hall__descr Антропологический субъект политического процесса: основные моменты
    li.hall__item.hall__item--active
      a(href="#").hall__link
        h2.hall__number Зал 8
        h3.hall__title Snowdrop
        p.hall__pause Перерыв до 15:40
        p.hall__descr Антропологический основные моменты
    li.hall__item
      a(href="#").hall__link
        h2.hall__number Зал 9
        h3.hall__title Snowdrop
        p.hall__pause Перерыв до 15:40
        p.hall__descr Антропологический субъект политического процесса: основные моменты
    li.hall__item.hall__item--active
      a(href="#").hall__link
        h2.hall__number Зал 10
        h3.hall__title Snowdrop
        p.hall__pause Перерыв до 15:40
        p.hall__descr Антропологический субъект политического процесса: основные моменты
